fastapi
sqlalchemy
mysql-connector-python
python-telegram-bot
uvicorn
pydantic
pydantic-settings
python-multipart
bcrypt
python-jose[cryptography]
slowapi
python-dotenv
passlib[bcrypt]
pymysql
pytest
pytest-asyncio
httpx
email-validator
cryptography
slowapi